streamlit
pandas
numpy
unstructured
unstructured[pdf]
unstructured[docx]
llama_index
openpyxl
xlsxwriter
cohere
llmsherpa
llama-hub
qdrant_client 
tools 
frontend 
git+https://github.com/openai/CLIP.git 
easyocr
openai
deep-translator
python-dotenv
biopython
fastembed
qdrant-client[fastembed]
rank_bm25
transformers
optimum[exporters]
streamlit-searchbox
scikit-learn
sentence-transformers
streamlit-extras
streamlit-camera-input-live
streamlit-card
streamlit-webrtc
streamlit-authenticator
streamlit_carousel
httpx-oauth
rank-bm25
git+https://github.com/openai/CLIP.git 
openai
deep-translator
python-dotenv
biopython
fastembed
qdrant-client[fastembed]
rank_bm25
IPython
scikit-learn
aiohttp
aiofiles
portalocker
icecream
streamlit-antd-components
pdfminer
instructor
nest_asyncio
unstructured_inference
psutil
pillow
