aiofiles
aiohttp
biopython
cohere
deep-translator
easyocr
fastembed
frontend
git+https://github.com/openai/CLIP.git
httpx-oauth
icecream
instructor
IPython
llama-hub
llama-index
llama-index-embeddings-azure-openai
llama-index-embeddings-huggingface-optimum
llama-index-llms-azure-openai
llama-index-llms-openai
llama-index-retrievers-bm25
llama-index-indices-managed-vectara
llama-parse
llmsherpa
nest_asyncio
numpy
onnxruntime
openai
openpyxl
optimum
optimum[exporters]
optimum[onnxruntime]
pdfminer
pillow
portalocker
psutil
python-dotenv
qdrant_client
qdrant-client[fastembed]
rank_bm25
rank-bm25
scikit-learn
sentence-transformers
streamlit
streamlit-antd-components
streamlit-authenticator
streamlit-camera-input-live
streamlit-card
streamlit-carousel
streamlit-extras
streamlit-searchbox
streamlit-webrtc
transformers
unstructured
unstructured[docx]
unstructured[pdf]
unstructured_inference
xlsxwriter
